.app {
  margin: 0px;
  background-color: #292d32;
  color: lightpink;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: lighter;
}