.app {
  color: rgb(197, 149, 94);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: lighter;
}
