.timer {
  height: 40vh;
  width: 20vw;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: inset .3rem .3rem .5rem #c8d0e7, 
  inset -.3rem -.3rem .5rem #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.timer-type {
  display: flex;
  justify-content: center;
  width: 70%;
  font-size: smaller;
  padding: 0.5rem;
  border-radius: 30px;
  box-shadow: .3rem .3rem .5rem #c8d0e7, 
  -.3rem -.3rem .5rem #ffffff;
}

.count-area {
  display: flex;
  align-items: center;
}

.duration {
  font-size: small;
  margin-left: 3rem;
  margin-right: 3rem;
}

.decrement,
.increment {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: .3rem .3rem .5rem #c8d0e7, 
  -.3rem -.3rem .5rem #ffffff;
}

.decrement:hover,
.increment:hover,
.start-button:hover {
  cursor: pointer;
  box-shadow: .3rem .3rem .5rem #c8d0e7, 
  -.3rem -.3rem .5rem #ffffff,
  inset .1rem .1rem .5rem #c8d0e7, 
  inset -.1rem -.1rem .5rem #ffffff;
}

.start-button {
  height: 3rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: .3rem .3rem .5rem #c8d0e7, 
  -.3rem -.3rem .5rem #ffffff;
}