.timer {
  height: 30vh;
  /* padding: 1rem; */
  border-radius: 30px;
  box-shadow: inset .3rem .3rem .5rem #222428, 
  inset -.3rem -.3rem .5rem #363a3f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.timer-type {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 0.5rem;
  padding-top: 1rem;
  margin-bottom: 0;
  border-radius: 30px;
  box-shadow: .3rem .3rem .5rem #222428, 
  -.2rem -.1rem .3rem #363a3f;
  z-index: 1;
}

.work {
  color:  #49c6ff;
}

.short {
  color:  #fff349;
}

.long {
  color:  #ff4949;
}

.count-area {
  display: flex;
  align-items: center;
}

.duration {
  height: 2rem;
  width: 7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 30px;
  box-shadow: .3rem .3rem .5rem #222428, 
   -.2rem -.1rem .3rem #363a3f;
   display: flex;
   justify-content: center;
   align-items: center;
}

.decrement,
.increment {
  transition: 2s;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: .3rem .3rem .5rem #222428, 
   -.2rem -.1rem .3rem #363a3f;
  transition: all 1s ease;
}

.start-button {
  transition: all 1.5s ease;
}

.decrement:hover,
.increment:hover,
.start-button:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(235, 191, 140);
  box-shadow: .3rem .3rem .5rem #222428, 
   -.2rem -.1rem .3rem #363a3f,
  inset .2rem .2rem .5rem #222428, 
  inset -.2rem -.2rem .5rem #363a3f;
}

.start-button {
  height: 2rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: .3rem .3rem .5rem #222428, 
   -.2rem -.1rem .3rem #363a3f;
}