.timers-box {
  padding: 1rem;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  border-radius: 30px;
  box-shadow: .3rem .3rem .5rem #222428, 
  -.3rem -.3rem .5rem #363a3f;
}